<ion-view title="My Profile"  class="white" ng-controller="CTRL_Reporting as $ctrl" cache-view="false" >
<ion-header-bar class="bar-positive">
      <h1 class="title">My Profile</h1>
    </ion-header-bar>
 <ion-content class="padding">
 <div ng-show="manager">
 Please select the date and hit generate report
 <input class="loginFields"  type="text" placeholder="From Date" ng-model="fromDate" ng-click="openFromDatePicker();"  />
 <input class="loginFields"  type="text" placeholder="To Date" ng-model="toDate" ng-click="openToDatePicker();"  />
 <button ng-click="download()" id="downloadBtn" name="downloadBtn"  class="button button-balanced order-button fullBtn">Download</button>
 </div>
 <div ng-show="!manager">
 You don't have access to the module
 </div>
 </ion-content>
</ion-view>