<ion-view title="Reporting"  class="white" ng-controller="CTRL_Reporting as $ctrl" cache-view="false" ng-init="getDefaulterList();getReporteeList()">
<ion-header-bar class="bar-positive">
      <h1 class="title">Reporting</h1>
    </ion-header-bar>
 <ion-content class="padding">
 <span ng-if="oboList"><select class="countrySelect" ng-model="selectedObo.managerID" ng-options="x for x in oboList" ng-change="updateManager()"></select></span>
 &nbsp; &nbsp;
 <span ng-if="selectedObo.managerID"><b>OBO {{selectedObo.managerID}}</b></span>
  <hr/>
 <div ng-show="manager">
 
	  <div ng-if="defaulters && defaulters.length > 0">
	  	<b>Yet to submit time sheet</b>
		  <div ng-repeat="defaulter in defaulters track by $index" style="color:red">
		  	<b>{{defaulter}}</b>
		  </div>
		   <button ng-click="remmindDefaulters()" id="defaultesReminder" name="defaultesReminder"  class="button button-balanced order-button fullBtn">Remind them</button>
	  </div>
	  <div ng-if="!defaulters || defaulters.length == 0">
	  	<span style="color:green"><b>All team members have submitted their time sheets till date.</b></span>
	 </div>

 <hr/>
 	<b>Please select the date and hit generate report</b>
	 <input class="loginFields"  type="text" placeholder="From Date" ng-model="fromDate" ng-click="openFromDatePicker();"  />
	 <input class="loginFields"  type="text" placeholder="To Date" ng-model="toDate" ng-click="openToDatePicker();"  />
	 <button ng-click="download()" id="downloadBtn" name="downloadBtn"  class="button button-balanced order-button fullBtn">Download</button>
	 
	
 <hr/>
	  <b>Message to team</b>
	  <br/>
	 {{messageSend}}
	 <input class="loginFields"  type="text" placeholder="Message to Team" ng-model="messageToTeam"  />
	 <button ng-click="sendMsgToTeam()" id="teamMsgBtn" name="teamMsgBtn"  class="button button-balanced order-button fullBtn">Send Message to Team</button>
<hr/>
	<b>My team</b>
	<div> <b>Has OBO role  - Client Email</b></div>
	<div ng-repeat="reportee in reporteeList track by $index" >
		  	<span><input type="checkbox" ng-model="reportee.hasMyOboRole" ng-change="updateOboRole(reportee)"> {{reportee.clientEmail}} </span>
		  </div>
 </div>
 <div ng-show="!manager">
 You don't have access to the module
 </div>
 </ion-content>
</ion-view>